/* 

Software: School Information Management System
Author: Emmanuel Nyangazi
Location: Mchinji (Tembwe)
Version: v1.0.0
Startinig Date:  13 August 2024
Finishinig Date:    13 September 2024

*/

.register__page {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.object1 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 4rem;
    left: 2rem;
    width: 20rem;
}
.register__container {
    margin: 6% auto;
    width: 70%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem 4rem;
    position: relative;
}
.even__space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login__image__container {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__form {
    padding: 1rem;
    width: 100%;
}
.register__header {
    font-weight: 600;
    font-size: 2rem;
    color: #007BFE;
}
.register__paragraph {
    width: 70%;
    color: #6e6b6b;
    padding: 0;
    font-size: 0.9rem;
}
.login__forgot__password {
    color: #6e6b6b;
    margin-left: 3rem;
    font-size: 0.9rem;
}
.form__button button {
    border: none;
    outline: none;
    padding: 0.5rem;
    display: block;
    width: 60%;
    margin: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #007BFE;
    margin-left: 3rem;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif !important;
}
.login__already__text {
    margin-left: 5rem;
    color: #6e6b6b;
    font-size: 0.9rem;
}
.register__already__text {
    color: #6e6b6b;
    position: absolute;
    bottom: 1rem;
    left: 10rem;
    font-size: 0.9rem;
}

/* Other */
.register__image {
    width: 7rem;
    margin: 1rem;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.register__small {
    font-style: italic;
    font-weight: 600;
    font-size: 0.9rem;
}
.navigator__buttons {
    position: absolute;
    bottom: 0.2rem;
    right: 1rem;
}
.navigator__buttons button {
    border: none;
    outline: none;
    padding: 1rem;
    color: #6e6b6b;
    background-color: transparent !important;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
}
.info {
    font-size: 0.8rem;
    color: #6e6b6b;
    font-style: italic;
    padding-left: 3rem;
    margin-top: -1rem;
}
.reg__form {
    position: relative;
    height: 23.5rem;
    overflow: hidden;
}
#top__form {
	top: 0;
}
#bottom__form {
	top: 23rem;
}
.register__form {
	position: absolute;
	transition: 0.6s;
	height: 70px;
    width: 100%;
}
#register__button {
    border: none;
    outline: none;
    padding: 0.5rem;
    display: block;
    width: 30%;
    margin: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #007BFE;
    margin-left: 3rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.outer__height {
    width: 0.5rem;
    height: 50%;
    background-color: #6e6b6b;
    border-radius: 2rem;
    margin: 5% auto;
    margin-top: 6rem;
}
.inner__height {
    width: 0.5rem;
    background-color: #007BFE;
    height: 50%;
    border-radius: 2rem;
    transition: 0.6s;
}