.adminIcon {
    margin-left: 0.7rem !important;
}
.master_container {
    margin-top: 7rem;
    margin-left: 1.5rem;
    padding: 2rem 4rem;
    background-color: #F4F6F7;
    border-radius: 0.5rem;
}
.master_cards {
    border-top: 4px solid #C6E1FE;
}

.fees_deatils_container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* align-items: center; */
}

.fees_deatils_container h4 {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin: 2rem 0;
}

.line_chart {
    flex: 2;
    background-color: #E8ECEF;
    padding: 1rem;
}
.pie_chart {
    flex: 1;
    background-color: #E8ECEF;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.billing-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}
.billing-card {
    flex: 1;
    background-color: #E8ECEF;
    padding: 1.5rem 0;
    text-align: center;
}
.billing-card h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #6B6868;
}
.billing-card .price {
    font-size: 2.5rem;
    color: #6B6868;
    margin: 0 !important;
    padding: 0 !important;
}
.billing-card .periodic {
    color: #6B6868;
    margin: 0 !important;
    padding: 0 !important;
}