.pNavBar {
    position: fixed;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    z-index: 1000;
    margin: 0;
  }
  .pNavBar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin: 0;
    padding: 0;
  }
  .pItem {
    display: flex;
    justify-content: space-evenly;
  }
  .pItem .paIcons {
    color: #6E6B6B;
    transition: all 0.3s ease-in-out;
  }
  .pItem.active .paIcons {
    color: #007BFE;
    transform: translateY(-1rem);
  }

  .parent_container {
    background-color: #fff;
    width: 100%;
    height: 100vh;
  }

  .parent_content {
     background-color: #E8ECEF;;
     padding: 1.5rem;
     margin-bottom: 3rem;
     height: 100%;
  }


  /* Parent Content */

.parent_topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parent_topbar_icon {
  background-color: #fff;
  padding: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #5F6BD3;
}
.bell_container {
  position: relative;
}
.bell_icon {
  color: #6E6B6B;
}
.badger {
  position: absolute;
  top: 0rem;
  right: 0.2rem;
  background-color: red;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.child_container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
  position: relative;
  z-index: 10;
}
.child_container::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 0.4rem;
  background-color: #007BFE;
  top: -0.4rem;
  right: 0.5rem;
  z-index: 5;
  border-radius: 0.5rem 0.5rem 0 0;
}
.child_container::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 0.4rem;
  background-color: #5F6BD3;
  top: -0.8rem;
  right: 1.1rem;
  z-index: 5;
  border-radius: 0.5rem 0.5rem 0 0;
}
.child_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem 0;
}
.child_top_icon {
  background-color: #007BFE;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
}
.child_top_detail {
  margin-left: 0.8rem;
}
.child_top_detail h4 {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  margin: 0.2rem 0;
  font-weight: 600;
}
.child_top_detail p {
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #6E6B6B;
}
.child_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem 0;
}
.child_bottom_card {
  flex: 1;
}
.child_bottom_card:nth-child(2) {
  border-left: 1px solid #6E6B6B;
  border-right: 1px solid #6E6B6B;
  padding: 0 1rem;
}
.child_bottom_card h3 {
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.child_bottom_card p {
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #6E6B6B;
}

  /* Parent Content */


  /* Best Subjects */

.best_container {
  margin: 0.5rem 0;
}
.best_container h3, .parent_notifications h3 {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.parents_icons {
  color: #007BFE;
}
.best_subjects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-x: scroll;
}
.best_subject_card {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.best_subject_card_left h4 {
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;
}
.best_subject_card_left p {
  display: inline-block;
  font-size: 0.9rem;
  color: #6E6B6B;
}

  /* Best Subjects */


  /* Notifications */

.notification_topper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification_topper p {
  font-size: 0.8rem;
  color: #007BFE;
  margin-top: 1rem;
  cursor: pointer;
}
.notification_card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #5F6BD3;
  margin-bottom: 0.5rem;
}
.notification_card_left {
  background-color: #5F6BD3;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.5rem;
}
.notification_card_left h4 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}
.notification_card_left p {
  font-size: 0.9rem;
}
.notification_card_right h5 {
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.notification_card_right p {
  font-size: 0.9rem;
  color: #6E6B6B;
}

  /* Notifications */
  