.notFound {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
}
.notContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.notContainer h6 {
    line-height: 0;
    margin: 0;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: #007BFE;
}
.notContainer p {
    border-left: 4px solid #007BFE;
    padding: 0.5rem 2rem;
}