.teacher_container {
    width: 100%;
}
.splitter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid #C6E1FE;
}
.profile_container {
    width: 100%;
}
.profile_content {
   display: flex;
    flex-direction: row;
    /* align-items: center; */
     justify-content: center;
}
.profile_details {
    margin-top: 3rem;
}
.bio {
    padding: 0.5rem 2rem;
    background-color: #E8ECEF;
    border-radius: 1rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bio_avatar {
    font-size: 5rem !important;
    color: #007BFE;
}
.bio p {
    margin: 0;
    padding: 0.1rem;
}
.bio_profile {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_attributes {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attr_top {
    align-items: top;
}
.semicard {
    margin-right: 2rem;
    background-color: #E8ECEF;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}
.semicard h6 {
    color: #007BFE;
    background-color: #C6E1FE;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.semicard ul li {
    list-style:disc ;
    border-bottom: 1px solid #007BFE;
    padding: 0.3rem 0;
}
.charter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}