.student_container {
    width: 100%;
}
.student_containo {
    padding: 1rem;
    width: 100%;
}
#student__table {
    width: 100%;
}
.multi_step {
    position: relative;
}
.multi_step h3 {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    color: #6e6b6b;
}
.multi_step span {
    background-color: #007BFE;
    padding: 0.3rem 0.5rem;
    color: #fff;
    border-radius: 0.3rem;
}
.tabeIcon {
    width: 2rem;
}
.personalContainer {
    padding: 0 2rem;
}
.profileUpdate p {
    color: #6e6b6b;
}


/* Dashboard */
.student_section {
    width: 100%;
}
.student_section_container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    flex: 1;
    padding: 1rem;
}
.flexer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card_container {
    background-color: #E8ECEF;
    border-top: 0.3rem solid #007BFE;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.card_icon {
    color: #007BFE;
}
.card_detail h4 {
    padding: 0;
    margin: 0;
}
.card_detail p {
    padding: 0;
    margin: 0;
    color: #6e6b6b;
    font-size: 0.9rem;
}
.card_detail small {
    font-size: 1rem;
    font-weight: 600;
}
.student_count {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.counter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}
.vr {
    margin: 0 1rem;
}

.graph_card, .pie_card {
    background-color: #E8ECEF;
    padding: 2rem;
}
.graph_title, .pie_title {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}

.top_performing {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
.student_card {
    background-color: #E8ECEF;
    padding: 2rem;
    width: 20rem;
    transition: transform 0.3s;
}

.student_card_top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.student_card_icon {
    color: #6e6b6b;
    margin-right: 2rem;
}

.student_card_detail h4 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.student_card_detail p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #6e6b6b;
}

.student_card_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.student_card_bottom p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #6e6b6b;
}

.top_performing_title, .worst_performing_title {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.worst_students {
    margin-top: 5rem;
}
/* Dashboard */