.student_container {
    width: 100%;
}
.student_containo {
    padding: 1rem;
    width: 100%;
}
#student__table {
    width: 100%;
}
.multi_step h3 {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    color: #6e6b6b;
}
.multi_step span {
    background-color: #007BFE;
    padding: 0.3rem 0.5rem;
    color: #fff;
    border-radius: 0.3rem;
}