.groupRight {
    display: flex;
    align-items: center;
    justify-content: center;
}
.feesIcon {
    color: #007BFE;
    font-size: 1.5rem !important;
    margin-left: 2rem !important;
    cursor: pointer;
    margin-top: 0.8rem !important;
}

.overview-section {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}
  