.auth_container {
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.auth_content {
  width: 40%;
  max-width: 100%;
  background-color: #fff;
  padding: 2rem 5rem;
  text-align: center;
  border-radius: 0.5rem;
  height: 30rem
}
.pass__master__icon {
  width: 8rem;
  margin: 3% auto;
}
.dotted h1 {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}
.auth_buttons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.back {
  font-size: 0.9rem;
  text-decoration: none;
}
.backarrow {
  margin-right: 0.5rem;
  transition: 0.3s ease-in-out;
}
.back:hover .backarrow {
  transform: translateX(-5px);
}

.input_right {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.auth_code {
  width: 2.5rem;
  height: 3rem;
  padding: 0.2rem;
  border: 2px solid #007BFE;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
  color: #6B6868;
  border-radius: 0.5rem;
  font-weight: 600;
}
.auth_page {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
}